<div class="dialog-header">
  <h2 mat-dialog-title>Edit Protocole</h2>
  <button mat-icon-button (click)="onNoClick()" class="close-button">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <form>
    <mat-form-field class="example-full-width">
      <mat-label>ID</mat-label>
      <input matInput [(ngModel)]="data.id" name="id" readonly>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Nom Protocole</mat-label>
      <input matInput [(ngModel)]="data.nomprotocole" name="nomprotocole">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="data.description" name="description" rows="3"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Version</mat-label>
      <input matInput [(ngModel)]="data.version" name="version">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button class="close-button-style" (click)="onNoClick()">
    <mat-icon class="cancel-icon">cancel</mat-icon> Cancel
  </button>
  <button mat-button class="add-button-style" color="primary" (click)="onSaveClick()">
    <mat-icon class="update-icon">update</mat-icon> Save
  </button>
</mat-dialog-actions>
